<div xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  class="common-width">
	<header>
		<div>
			<div class="d-flex justify-content-between">
				<a href="/" style="width:15%">
					<img src="commonResource/askcodeLogo.png" alt="logo" style="width:80%">
				</a>
				<ul class="list-unstyled d-flex gap-3 align-self-center ml-3">
					<li>사이드</li>
					<li>질문&답변</li>
					<li>자유</li>
					<li>고객센터</li>
					<li>이모티콘 상점</li>
					<li>포인트 충전</li>
				</ul>
				<div class="search align-self-center">
  					<input type="text" placeholder="검색어 입력" class="searchInput">
  					<img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png" class="searchImg">
				</div>
				<div class="align-self-center"> 
					<button>토글버튼</button>
				</div>
				<div class="align-self-center"	>
					<button onclick="location.href='/loginForm'">로그인</button>
					<button onclick="location.href='/createAccountForm'">회원가입</button>
				</div>
			</div>
		</div>
	</header>
	
	<script>
		
	</script>
</div>