<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		<settings>
		<setting name="jdbcTypeForNull" value="VARCHAR" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<!-- Alias 설정 -->
	<typeAliases>
	<package name = "com.yedam.app" /> <!-- 이 설정을 한 순간 모든 클래스는 프로젝트내에서 유일해야 함 서로 다른 패키지여도 클래스이름 다르게 해야함 -->
	</typeAliases>
	<typeHandlers>
		<!-- java.sql.Timestamp 를 java.util.Date 형으로 반환 -->
		<typeHandler javaType="java.sql.Date"
			handler="org.apache.ibatis.type.DateTypeHandler" />
	</typeHandlers>
</configuration>
